{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.event.drag.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.mousewheel.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.canvaswrapper.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.colorhelpers.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.saturated.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.browser.js')}}"></script>-->
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.drawSeries.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.uiConstants.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.symbol.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.time.js')}}"></script>
  <!--<script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.errorbars.js')}}"></script>-->
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.legend.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.resize.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.navigate.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.touchNavigate.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.hover.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.touch.js')}}"></script>
  <script language="javascript" type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery.flot.selection.js')}}"></script>
  <script language="javascript" type="text/javascript" src="/static/js/plotter.js"></script>
  <div id="header">
    <h1>Benchmark results for {{ job }}:</h1>
    <div id="navbox">
      {% for link in top_links %}
      <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
      {% endfor %}
    </div>
  </div>

  <div id="content">
    <div data-collapse>
      <h3>All Benchmarks</h3>
      <div class="section">
      </div>
    </div>

    {% for benchmark in benchmark_dicts %}
    <div class="demo-container"><h2>{{benchmark.name}}</h2><div class="flex-container">
        <div id="{{benchmark.name}}_plot" class="demo-placeholder"></div>
        <p id="{{benchmark.name}}_plot_hw_choices"></p>
        <div id="{{ 'click_' + benchmark.name }}"></div></div></div>
    {% endfor %}
    <div id="dialog" title="Build Started"></div>

  </div>
  <script>
    {% for benchmark in benchmark_dicts %}
    do_plot("{{ '#' + benchmark.name + '_plot'}}", "{{ '#click_' + benchmark.name}}", { {% for hw in benchmark.hardware %} {{hw}}: {{benchmark.hardware[hw]|tojson}}, {% endfor %} }); {% endfor %}
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }


  </script>


  {% endblock %}


